section.record(id=`record-${record}`)
  h2.record__title Записаться на консультацию
  .record__inner
    figure.record__img-wrap
      +img-retina(`record-bg`, `jpg`,`Записаться на консультацию`,`record__img`, `1920`,`613`,360, 412, 768, 1200, 1440)('lazy')
    form.record__form.record-form(action="#" method="post" name=`record-form-${record}`)
      fieldset.record-form__field
        legend.record-form__title.title.title--all.title--white Записаться на&nbsp;консультацию
        p.record-form__text C вами свяжется дизайнер и ответит на все  вопросы
        .record-form__box
          input.record-form__input.record-form__input--tel.mask.reset(type="text" name=`record-form-tel-${record}` placeholder="Ваш телефон" required id= `record-form-tel-${record}`)
          label.record-form__label(for=`record-form-tel-${record}`)

          button.record-form__btn(type="submit") Заказать звонок


        .record-form__box.personal-box
          input.personal-box__input(type="checkbox" checked name=`record-form-personal-${record}` id= `record-form-personal-${record}`)

          label.personal-box__label(for=`record-form-personal-${record}`) Отправляя заявку, я&nbsp;даю согласие на&nbsp;обработку персональных данных







- record++
