extends ../templates/_main.pug
include ../helpers/mixins.pug

block content
	section.promo
		.promo__inner.container
			.promo__title-wrap
				h1.promo__title(data-scroll data-scroll-speed="1")
					|Получайте пасcивный доход в&nbsp;криптовалюте

			.promo__video.video
				.video__inner
					video.video__body#video-promo(width="1320" height="446" poster="/img/poster.png")
						source(src="/video/test.mp4" type="video/mp4")
						source(src="/video/test.webm" type="video/webm")

					button.video__btn(type="button")
						+img-retina(`video_btn`, `png`, `кнопка видео`, `video__btn`, `262`, `262`)

	.fire.mb160

		section.how.mb160
			.how__inner.container
				h2.how__title.title(data-scroll data-scroll-speed="1") Как это работает?
				ul.how__list(data-scroll data-scroll-speed="2")
					each val, i in how
						li.how__item.how-point
							.how-point__inner
								figure.how-point__img(class=`how-point__img--${i+1}`)
								.how-point__box
									h3.how-point__title= `${val[0]}`
									p.how-point__text= `${val[1]}`

		.fire__bg.fire__bg--right
			+img-retina('fire_bg_right', 'png', 'фон', 'fire__img-bg-r', '579', '1160')

		.fire__bg.fire__bg--bottom
			+img-retina('fire_bg_bottom', 'png', 'фон', 'fire__img-bg-b', '937', '1325')

		.fire__bg.fire__bg--3
			+img-retina('fire_bg_bottom', 'png', 'фон', 'fire__img-bg-b', '937', '1325')

		.fire__bg.fire__bg--4
			+img-retina('fire_bg_bottom', 'png', 'фон', 'fire__img-bg-b', '937', '1325')

		.fire__bg.fire__bg--5
			+img-retina('fire_bg_bottom', 'png', 'фон', 'fire__img-bg-b', '937', '1325')



		section.packages
			.packages__inner.container
				h2.packages__title.title(data-scroll data-scroll-speed="1") Пакеты инвестирования
				.packages__list(data-scroll data-scroll-speed="2")
					.packages__item.package
						.package__inner
							h3.package__title Пакет 365
							p.package__text Инвестирование на 1 год с ежемесячной выплатой дохода в размере до 15% от вложенной суммы. Тело вложений возвращается в конце срока инвестирования
							ul.package__list
								li.package__item
									span.package__money 1 000 – 2 999 $
									|
									| –
									|
									span.package__proc 8% в месяц
								li.package__item
									span.package__money 3 000 – 9 999 $
									|
									| –
									|
									span.package__proc 10% в месяц
								li.package__item
									span.package__money 10 000 – 19 999 $
									|
									| –
									|
									span.package__proc 12% в месяц
								li.package__item
									span.package__money 20 000 $
									|
									| –
									|
									span.package__proc 15% в месяц

							.package__range.range-box
								span.range-box__title Сумма инвестиций:
								.range-box__content
									label.range-box__label(for="package-365")
										span.range-box__invest
											span.range-box__val.range-box__val--365 72 000
											|
											| %
										input.range-box__input#package-365(type="text" readonly)

										span.range-box__proc.range-box__proc--365
											span 15
											|
											| %

							.package__range.range-box
								span.range-box__title Ваш доход составит:
								.range-box__content
									.range-box__label
										p.range-box__marga.range-box__marga--365
											span 130 500
											|
											| $
							a.package__link(href="/login") Инвестировать

					.packages__item.package
						.package__inner
							h3.package__title Пакет 150
							p.package__text Инвестирование на 150 дней. Доход составляет 15% в месяц от вложенной суммы. Тело вложений возвращается в конце срока  инвестирования
							ul.package__list
								li.package__item
									span.package__cash 1 выплата
									|
									| –
									|
									span.package__proc за 90 дней через 90 дней

								li.package__item
									span.package__cash 2 выплата
									|
									| –
									|
									span.package__proc через 120 дней за 30 дней

								li.package__item
									span.package__cash 3 выплата
									|
									| –
									|
									span.package__proc 150 дней за последние 30 дней

							.package__range.range-box
								span.range-box__title Сумма инвестиций:
								.range-box__content
									label.range-box__label(for="package-150")
										span.range-box__invest
											span.range-box__val.range-box__val--150 72 000
											|
											| %
										input.range-box__input#package-150(type="text" readonly)



							.package__range.range-box
								span.range-box__title Ваш доход составит:
								.range-box__content
									.range-box__label
										p.range-box__marga.range-box__marga--150
											span 129 600
											|
											| $
							a.package__link(href="/login") Инвестировать

		section.programs.mb160
			.programs__inner.container.container--programs
				.programs__title-wrap
					h2.programs__title.title(data-scroll data-scroll-speed="1")  Реферальные программы
					p.programs__text
						| Finance Plus предоставляет возможность всем желающим зарабатывать до&nbsp;12%&nbsp;от&nbsp;вложений приглашенных вами новых участников и&nbsp;2%&nbsp;от&nbsp;каждой выплаты процентов по пакету инвестирования, а также разовую выплату от&nbsp;обьема структуры
				.programs__left

				.programs__right
					ul.programs__list.bonus
						each item in bonus
							li.bonus__item
								figure.bonus__img
								p.bonus__text= item
					a.programs__link(href="#") Подробнее об условиях программы

	section.news.mb160
		.news__inner
			.news__title-block.title-block
				.title-block__inner.container
					h2.news__title.title(data-scroll data-scroll-speed="1") Последние новости

			ul.news__list.news-list.container(data-scroll data-scroll-speed="1")
				each item in news
					li.news-list__item
						a.news-list__wrap(href="#")
							.news-list__inner
								h3.news-list__title Новый инструмент инвестирования
								p.news-list__text Добавлен новый инструмент инвестирования - мастернода
								.news-list__block
									p.news-list__description
										span.news-list__source Инвестиции
										span.news-list__data 21.10.2022

									.news-list__link

	section.faq.mb160
		.faq__inner.container
			h2.faq__title.title Вопросы - ответы
			.faq__accordion(data-accordion-group)
				each item, i in accordion
					.faq__accordion-inner.accordion(data-accordion)
						.faq__term(data-control)
							p= item[0]
						.faq__description(data-content)
							p= item[1]
